site_name: UrbanOPT

theme: 
  name: material
  features: 
    - content.code.copy
  palette:
  - scheme: default
    primary: blue-grey
    accent: green
    toggle:
      icon: material/brightness-7 
      name: Switch to dark mode
  - scheme: slate
    primary: blue-grey
    accent: green
    toggle:
      icon: material/brightness-4
      name: Switch to light mode

plugins: 
  - mkdocstrings
  
nav: 
  - Getting Started: index.md
  - Documentation:
    - User Guide:  guide.md
    - API: api_reference.md
  - Examples: examples.md
  - Binary Linear Program: blp.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.tabbed
  - pymdownx.snippets
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - admonition

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js